$mainColor70: #EF5B70;
$mainColor: #F16D7F;
.cartfull {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    &__order {
        &__card {
            display: flex;
            box-shadow: 0px 15px 15px 0px #E5E5E5;;
            max-width: 652px;
            max-height: 305px;
            margin-bottom: 40px;
            &__img {
                max-height: 306px;
                img {
                    max-width: 262px;
                    
                }
            }
            &__text {
                position: relative;
                width: 390px;
                margin: 22px 0 0 31px;
                h3 {
                    max-width: 262px;
                    font-size: 24px;
                    line-height: 29px;
                    color: #222222;
                    margin-bottom: 42px;
                }
                p{
                    font-size: 22px;
                    line-height: 26px;
                    color: #575757;
                    margin-bottom: 6px;
                    .decor__price {
                        color: $mainColor70;
                    }
                }
                label {
                    font-size: 22px;
                    line-height: 26px;
                    color: #575757;
                }
                input {
                    border: 1px solid #EAEAEA;
                    text-align: center;
                    margin-left: 24px;
                    padding: 1px 10px;
                }
                button {
                    position: absolute;
                    top: 0;
                    right: 22px;
                    border: none;
                    background: none;
                    width: 18px;
                    height: 18px;
                    i {
                        width: 18px;
                        height: 18px;
                    }
            
                }
            }
        }
        &__buttons {
            margin-top: 72px;
            display: flex;
            justify-content: space-between;
            max-width: 652px;
            input {
                max-width: 236px;
                border: 1px solid #A4A4A4;
                font-weight: 300;
                font-size: 12px;
                line-height: 17px;
                color: #000000;
                padding: 16px 40px;
            }
        }
    }
    &__form {
        &__adress {
            legend {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }
            input {
                width: 360px;
                margin-top: 20px;
                border: 1px solid #A4A4A4;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #222222;
                padding: 12px 0 15px 16px;
            }
            button {
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                background: none;
                width: 100px;
                text-align: center;
                padding: 9px 0 11px;
                margin-top: 24px;
                border: 1px solid #A4A4A4;
            }
        }
        &__checkout {
            margin-top: 57px;
            background: #F5F3F3;
            &__box {
                padding-top: 39px;
                margin: 39px 44px 13px 44px;
                border-bottom: 1px solid #E2E2E2;;
                text-align: right;
                &__price {
                    font-size: 11px;
                    line-height: 13px;
                    color: #4A4A4A;
                    margin-bottom: 12px;
                }
                &__total {
                    font-size: 16px;
                    line-height: 19px;
                    color: #222222;
                    margin-bottom: 21px;
                    span {
                        color: $mainColor;
                        margin-left: 30px;
                    }
                }
            }
            &__button { 
                background-color: $mainColor;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: rgba(255, 255, 255, 1);
                border: 1px solid $mainColor;
                padding: 15px 44px;
                margin: 0 44px 42px;
            }
        }
    }
}